table 
{
  border-collapse  : collapse;
  width            : 100%;
  margin           : auto;
}

th,
td 
{
  text-align       : left;
  padding          : 8px;
}

tr:nth-child(even) 
{
  background-color : #cecaca
}

th 
{
  background-color : #04AA6D;
  color            : white;
}